body{
    background-color: rgb(196, 228, 248);
    
    
}

.form-container{
    display: flex;
    gap: 10px;
    max-height: fit-content;
}


input{
   width: 500px;
   height: 40px;
   padding: 10px;
   margin-left: 300px;
   margin-top: 200px;
  border: none;
   box-shadow: 10px  10px 15px 1px rgb(0, 0, 0,0.3);
   border-radius: 5px;
   font-size: 20px;
   outline: none;
  


}
ul{
    list-style: none;
    color: black;
    
    width: 650px;
    padding: 10px;
    margin-left: 300px;
    margin-top: 20px;
   
    


}
li{
   /*  background-color: white; */
    padding: 5px;
    width: 450px;
    font-size: 25px;
    background-color: white;
    box-shadow: 10px  10px 15px 1px rgb(0, 0, 0,0.3);
    border-radius: 5px;
    outline: 2px solid black;
    display: flex;
    flex-direction: row;
    
}
input:focus{
    outline: 2px solid black;
}

.add{
    color: white;
    background-color: rgb(12, 173, 12);
    margin-top: 200px;
    width: 150px;
    border: none;
    font-size: 20px;
   box-shadow: 10px  10px 15px 1px rgb(0, 0, 0,0.3);
   border-radius: 5px;
    
}